article {
	@apply mx-auto flex w-full max-w-2xl min-w-0 flex-1 flex-col gap-8 px-4 py-6 text-neutral-800 md:px-0 lg:py-8 dark:text-neutral-300;
	font-family: "JetBrains Mono", var(--font-sans);
	font-synthesis-weight: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-kerning: normal;
}

#summary {
	@apply mt-0 max-w-[450px] text-muted-foreground leading-6;
}

article #page-header h1 {
	@apply scroll-m-20 text-2xl font-semibold tracking-tight sm:text-xl xl:text-2xl;
}

article strong,
article b {
	@apply font-medium;
}

article .typography h2 {
	@apply mt-12 scroll-m-28 text-lg font-medium tracking-tight lg:mt-20 [&+p]:!mt-4 *:[code]:text-lg;
}

article .typography > h2 {
	@apply first:mt-0;
}

article .typography h3 {
	@apply mt-8 scroll-m-28 text-base font-semibold tracking-tight *:[code]:text-base;
}

article .typography h4 {
	@apply mt-6 scroll-m-20 text-sm font-semibold tracking-tight;
}

article p {
	@apply leading-relaxed [&:not(:first-child)]:mt-6;
	line-height: 1.82;
	letter-spacing: -0.012em;
	word-spacing: -0.02em;
	text-wrap: pretty;
}

article .typography > div {
	@apply [&:not(:first-child)]:mt-6;
}

article a {
	@apply font-medium text-primary underline underline-offset-4;
}

article blockquote {
	@apply mt-6 border-l-2 pl-6 italic;
}

article ul {
	@apply my-6 ml-6 list-disc [&>li]:mt-2;
}

article li ul {
	@apply mt-4;
}

article ol {
	@apply my-6 ml-6 list-decimal leading-8 [&>li]:mt-3;
}

article li {
	line-height: 1.8;
	letter-spacing: -0.01em;
	text-wrap: pretty;
}

article pre {
	@apply block mb-4 mt-6 max-h-[650px] rounded-xl py-4 px-4;
}

article > pre {
	@apply bg-muted;
}

article pre code {
	@apply relative font-mono text-sm not-italic;
}

article pre code > span {
	@apply py-0.5;
}

article code:not(pre code) {
	@apply bg-muted relative rounded-md px-[0.3rem] py-[0.2rem] font-mono text-[0.8rem] outline-none;
}

article tr td.linenos pre {
	@apply text-sm;
}

article td.code pre {
	@apply leading-0;
}

article .external_links > a {
	@apply no-underline;
}

article div:empty {
	@apply mt-0;
}

article a.footnote-ref {
	@apply no-underline;
}

article a.footnote-backref {
	mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-undo2-icon lucide-undo-2'%3E%3Cpath d='M9 14 4 9l5-5'/%3E%3Cpath d='M4 9h10.5a5.5 5.5 0 0 1 5.5 5.5a5.5 5.5 0 0 1-5.5 5.5H11'/%3E%3C/svg%3E")
		no-repeat center;
	mask-size: contain;
	background-color: currentColor;
}

article .iconify {
	@apply inline-block;
}
