@layer base {
	:root {
		--font-inter: "JetBrains Mono Nerd Font Propo", monospace;
		--font-sans: "JetBrains Mono Nerd Font Propo", monospace;
		--font-mono: "JetBrains Mono Nerd Font Propo", monospace;
	}
}
